## LDO Octopus Default

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 17ba594a66ca
# restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 35000             #Max 4000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 20.0

#####################################################################
# Include 
#####################################################################
[include mainsail.cfg]
[include EBB36.cfg]
# [include sht36v2.cfg]

[include macros/print_base.cfg]
[include macros/macros.cfg]
[include macros/bedfans.cfg]
[include macros/nozzle_scrub.cfg]
[include KAMP_Settings.cfg]
[include macros/fan_tach_monitor.cfg]
[include calibration/ADXL.cfg]
[include K-ShakeTune/*.cfg]
[include macros/TEST_SPEED.cfg]
[include calibration/shaketune.cfg]
[include macros/shell_command.cfg]
[include macros/klipper-backup.cfg]


#####################################################################
# Additions
#####################################################################

# [resonance_holder]

[respond]

[force_move] 
enable_force_move: true

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[input_shaper]
shaper_freq_x: 82.6
shaper_type_x: mzv
shaper_freq_y: 64.6
shaper_type_y: mzv
damping_ratio_x: 0.077
damping_ratio_y: 0.054

#####################################################################
# MCU Temp Sensors
#####################################################################

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host


#####################################################################
#   X/Y Stepper Settings
#####################################################################
[stepper_x]
##	B Motor on MOTOR2
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
endstop_pin: PG11
# endstop_pin: tmc2209_stepper_x:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 294
position_max: 294
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
# diag_pin: ^PF4 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 125
# driver_SGTHRS: 130

[stepper_x1]
##	D Motor on MOTOR4
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1]
cs_pin: PC7
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  

[stepper_y]
##	A Motor on MOTOR1
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
# endstop_pin: tmc2209_stepper_y:virtual_endstop
endstop_pin: PG6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 312
position_max: 312
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0 
# diag_pin: ^PF3 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 120

[stepper_y1]
##	C Motor on MOTOR3
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_y1]
cs_pin: PC6
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR5
[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: ^PF5
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
# endstop_pin: probe:z_virtual_endstop
##--------------------------------------------------------------------

#	Uncomment below for 300mm build
position_max: 260

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
# second_homing_speed: 3
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF2
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z1 Stepper - Rear Left on Motor6
[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z2 Stepper - Rear Right on Motor7
[stepper_z2]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z3 Stepper - Front Right on Motor8
[stepper_z3]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################


## !! see SHT36V2.CFG !! ##


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
pwm_cycle_time: 0.01
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
#####################################################################
#   Probe
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_9C27DA3D5154364134202020FF142320-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 23.8 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2


# default_probe_method: proximity
# ##	Sets the default probing method for mesh, tilt, qgl, probe, etc.
# home_method: contact 
# ##	Use contact for homing if the printer is unhomed
# home_method_when_homed: proximity 
# ##	After initial calibration use induction homing
# home_autocalibrate: unhomed 
# ##	Calibrate beacon on first home

# contact_max_hotend_temperature: 180 
# ##	Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.

# ##--------------------------------------------------------------------

# ##  Uncomment below for 250mm build
# #home_xy_position: 125, 125 

# ##  Uncomment for 300mm build
# #home_xy_position: 150, 150 

# ##  Uncomment for 350mm build
# #home_xy_position: 175, 175 

# ##--------------------------------------------------------------------

# home_z_hop: 5
# home_z_hop_speed: 30
# home_xy_move_speed: 300


#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y
# heater_temp: 45.0
fan_speed: 1.0

# [controller_fan driver_fan]
# #  Controller fan - FAN2
# pin: PD13
# kick_start_time: 0.5
# stepper: stepper_x, stepper_y
# heater: heater_bed, extruder
# fan_speed: 0.8
# shutdown_speed: 0.0

[fan_generic nevermore]
pin: PD12
# pwm: true
cycle_time: 0.010
# value: 0
# shutdown_value: 0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PA3
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01


#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
pullup_resistor: 4700
min_temp: 0
max_temp: 100
gcode_id: chamber_th


[temperature_sensor Motor_Temp]
sensor_type: Generic 3950
sensor_pin: PF5
pullup_resistor: 4700
min_temp: 0
max_temp: 280

[temperature_sensor upper_bed]
# Upper Bed glass thermistor
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: -200
max_temp: 140



#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:150,150
speed:50
z_hop:15

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25


#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# 	Bed Mesh
#####################################################################

[bed_mesh]
speed: 350

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic


#####################################################################
# 	TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_x1]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2004mah

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.784
#*# pid_ki = 2.345
#*# pid_kd = 461.307
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 280.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.885
#*# pid_ki = 1.299
#*# pid_kd = 92.193
#*#
#*# [beacon model default]
#*# model_coef = 1.6735571621663516,
#*# 	  1.9698004758111787,
#*# 	  0.628854374253737,
#*# 	  0.1941663442963399,
#*# 	  0.41527639005918643,
#*# 	  0.5669430740783151,
#*# 	  -0.3720251389262949,
#*# 	  -0.671358002053132,
#*# 	  0.25427632249545656,
#*# 	  0.34400428836523733
#*# model_domain = 1.9056076546863276e-07,1.9491289251364072e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 63.651708
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.014776, -0.013709, -0.019984, -0.018229, -0.036326, -0.038059, -0.026734, -0.032069, -0.030668, -0.017456, -0.005026, -0.009974, -0.006695, -0.006278, -0.027483
#*# 	0.011633, -0.016097, -0.019557, -0.020771, -0.036928, -0.039060, -0.030759, -0.033898, -0.032360, -0.015774, 0.000144, -0.001865, -0.003977, -0.006842, -0.028879
#*# 	0.009079, -0.015188, -0.016566, -0.020001, -0.035354, -0.038520, -0.028383, -0.026321, -0.022987, -0.009910, 0.000084, 0.000209, -0.003636, -0.007688, -0.029450
#*# 	0.009040, -0.014332, -0.018377, -0.018322, -0.031851, -0.034347, -0.024977, -0.020057, -0.017307, -0.007587, -0.002821, -0.005501, -0.008635, -0.012998, -0.032934
#*# 	0.013990, -0.008062, -0.014011, -0.015420, -0.027321, -0.029996, -0.015945, -0.014250, -0.012882, -0.005228, -0.001576, -0.007747, -0.015133, -0.017037, -0.035681
#*# 	0.018096, -0.002448, -0.009483, -0.006953, -0.021703, -0.026405, -0.013076, -0.013634, -0.010575, -0.004488, 0.003032, -0.002000, -0.008323, -0.013760, -0.032830
#*# 	0.019588, -0.000748, -0.006021, -0.001555, -0.016165, -0.018014, -0.010419, -0.007719, 0.002581, 0.017025, 0.017253, 0.005660, 0.000000, -0.003488, -0.023025
#*# 	0.022726, 0.007440, 0.000326, 0.003430, -0.007389, -0.008114, -0.001129, 0.000190, 0.018619, 0.036092, 0.030013, 0.014192, 0.007403, 0.004744, -0.015766
#*# 	0.029278, 0.010266, 0.008919, 0.010916, -0.000162, -0.003315, 0.004108, 0.008276, 0.020625, 0.032442, 0.033997, 0.024961, 0.016212, 0.011203, -0.012330
#*# 	0.031228, 0.013636, 0.013123, 0.016404, 0.000481, -0.008745, 0.004401, 0.008571, 0.012177, 0.022521, 0.032471, 0.026048, 0.018439, 0.012214, -0.012250
#*# 	0.033320, 0.015233, 0.013694, 0.016174, -0.000132, -0.006594, 0.005179, 0.009537, 0.009533, 0.019912, 0.029546, 0.026696, 0.018241, 0.013768, -0.009546
#*# 	0.028889, 0.008134, 0.006576, 0.008983, -0.004417, -0.004792, 0.007607, 0.007120, 0.008419, 0.018172, 0.024795, 0.019681, 0.011601, 0.009348, -0.015488
#*# 	0.019467, -0.001956, -0.006574, -0.003159, -0.017219, -0.015146, 0.001017, 0.004053, 0.006155, 0.014256, 0.019329, 0.010858, 0.002559, 0.001031, -0.019460
#*# 	0.015376, -0.012552, -0.017044, -0.015568, -0.026607, -0.026567, -0.008199, -0.003664, -0.000574, 0.008986, 0.012889, 0.009615, -0.001299, -0.005798, -0.025294
#*# 	0.006145, -0.021653, -0.027737, -0.023607, -0.030369, -0.027226, -0.013373, -0.009055, -0.004097, 0.008280, 0.012080, 0.009543, -0.001828, -0.005912, -0.021388
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
