## LDO Octopus Default

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 17ba594a66ca
# restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 35000             #Max 4000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 20.0

#####################################################################
# Include 
#####################################################################
[include mainsail.cfg]
[include sht36v2.cfg]

[include macros/print_base.cfg]
[include macros/macros.cfg]
[include macros/bedfans.cfg]
[include macros/nozzle_scrub.cfg]
[include KAMP_Settings.cfg]
[include macros/fan_tach_monitor.cfg]
[include calibration/ADXL.cfg]
[include K-ShakeTune/*.cfg]
[include macros/TEST_SPEED.cfg]
[include calibration/shaketune.cfg]
[include macros/shell_command.cfg]
[include macros/klipper-backup.cfg]


#####################################################################
# Additions
#####################################################################

# [resonance_holder]

[respond]

[force_move] 
enable_force_move: true

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[input_shaper]
shaper_freq_x: 82.6
shaper_type_x: mzv
shaper_freq_y: 64.6
shaper_type_y: mzv
damping_ratio_x: 0.077
damping_ratio_y: 0.054

#####################################################################
# MCU Temp Sensors
#####################################################################

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host


#####################################################################
#   X/Y Stepper Settings
#####################################################################
[stepper_x]
##	B Motor on MOTOR2
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
endstop_pin: sht36v2:PA2
# endstop_pin: tmc2209_stepper_x:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 294
position_max: 294
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
# diag_pin: ^PF4 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 125
# driver_SGTHRS: 130

[stepper_x1]
##	D Motor on MOTOR4
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1]
cs_pin: PC7
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  

[stepper_y]
##	A Motor on MOTOR1
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
# endstop_pin: tmc2209_stepper_y:virtual_endstop
endstop_pin: PG6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 312
position_max: 312
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# step_pulse_duration: 0.000004

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0 
# diag_pin: ^PF3 # use the same pin that was previously the endstop_pin!
# driver_SGTHRS: 120

[stepper_y1]
##	C Motor on MOTOR3
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_y1]
cs_pin: PC6
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
run_current: 1.0
interpolate: True
sense_resistor: 0.075
stealthchop_threshold: 0  
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR5
[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: ^PF5
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
# endstop_pin: probe:z_virtual_endstop
##--------------------------------------------------------------------

#	Uncomment below for 300mm build
position_max: 260

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
# second_homing_speed: 3
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF2
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z1 Stepper - Rear Left on Motor6
[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: False
run_current: 0.8
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z2 Stepper - Rear Right on Motor7
[stepper_z2]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

##	Z3 Stepper - Front Right on Motor8
[stepper_z3]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: False
run_current: 0.8
# hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################


## !! see SHT36V2.CFG !! ##


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF3
pwm_cycle_time: 0.01
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
#####################################################################
#   Probe
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_9C27DA3D5154364134202020FF142320-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 23.8 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2


# default_probe_method: proximity
# ##	Sets the default probing method for mesh, tilt, qgl, probe, etc.
# home_method: contact 
# ##	Use contact for homing if the printer is unhomed
# home_method_when_homed: proximity 
# ##	After initial calibration use induction homing
# home_autocalibrate: unhomed 
# ##	Calibrate beacon on first home

# contact_max_hotend_temperature: 180 
# ##	Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.

# ##--------------------------------------------------------------------

# ##  Uncomment below for 250mm build
# #home_xy_position: 125, 125 

# ##  Uncomment for 300mm build
# #home_xy_position: 150, 150 

# ##  Uncomment for 350mm build
# #home_xy_position: 175, 175 

# ##--------------------------------------------------------------------

# home_z_hop: 5
# home_z_hop_speed: 30
# home_xy_move_speed: 300


#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y
# heater_temp: 45.0
fan_speed: 1.0

[controller_fan driver_fan]
#  Controller fan - FAN2
pin: PD13
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 0.8
shutdown_speed: 0.0

[fan_generic nevermore]
pin: PD12
# pwm: true
cycle_time: 0.010
# value: 0
# shutdown_value: 0

#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PA3
pwm:true
shutdown_value: 0
value:0
cycle_time: 0.01


#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
pullup_resistor: 4700
min_temp: 0
max_temp: 100
gcode_id: chamber_th


[temperature_sensor Motor_Temp]
sensor_type: Generic 3950
sensor_pin: PF5
pullup_resistor: 4700
min_temp: 0
max_temp: 280

[temperature_sensor upper_bed]
# Upper Bed glass thermistor
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: -200
max_temp: 140



#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:150,150
speed:50
z_hop:15

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25


#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# 	Bed Mesh
#####################################################################

[bed_mesh]
speed: 250

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic


#####################################################################
# 	TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_x1]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2004mah

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.784
#*# pid_ki = 2.345
#*# pid_kd = 461.307
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 280.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 21.885
#*# pid_ki = 1.299
#*# pid_kd = 92.193
#*#
#*# [beacon model default]
#*# model_coef = 1.3830203074898897,
#*# 	  1.714074284578715,
#*# 	  0.7873653691278129,
#*# 	  0.26590880849695303,
#*# 	  0.3480132958545526,
#*# 	  0.856432624943773,
#*# 	  -0.11957213851027446,
#*# 	  -0.9213819623748547,
#*# 	  0.1992798524350355,
#*# 	  0.4867019170104398
#*# model_domain = 1.7802056812852158e-07,1.9322136090212817e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 74.152524
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.050314, 0.024972, 0.020847, 0.018542, 0.002383, 0.000016, 0.007929, 0.004217, 0.007942, 0.023510, 0.040111, 0.040374, 0.038508, 0.036247, 0.017353
#*# 	0.042693, 0.018514, 0.014004, 0.012108, -0.002605, -0.003748, 0.002814, 0.006055, 0.009067, 0.024313, 0.035353, 0.035650, 0.034383, 0.030055, 0.010545
#*# 	0.033882, 0.009120, 0.003918, 0.005460, -0.009394, -0.011626, -0.001669, 0.003125, 0.006241, 0.017601, 0.024378, 0.022847, 0.021087, 0.017173, 0.001055
#*# 	0.028477, 0.004813, -0.002198, -0.000774, -0.012246, -0.017144, -0.001874, -0.000568, 0.002194, 0.009722, 0.015805, 0.012506, 0.007657, 0.005896, -0.007778
#*# 	0.025937, 0.005022, -0.003350, -0.000470, -0.013570, -0.018729, -0.006827, -0.006929, -0.003668, 0.003586, 0.013516, 0.011723, 0.008009, 0.003315, -0.012013
#*# 	0.021264, 0.003058, -0.002622, 0.000417, -0.013104, -0.015441, -0.007772, -0.010931, -0.006895, 0.005993, 0.014867, 0.012640, 0.010571, 0.007009, -0.005690
#*# 	0.023540, 0.002555, -0.002218, 0.000209, -0.009741, -0.010746, -0.002544, -0.006146, -0.002665, 0.010154, 0.020039, 0.016610, 0.014587, 0.012325, -0.004234
#*# 	0.028635, 0.007545, 0.005061, 0.007469, -0.003906, -0.009985, -0.000858, 0.003826, 0.006595, 0.017437, 0.028277, 0.025366, 0.019835, 0.015344, -0.002594
#*# 	0.031959, 0.014070, 0.010901, 0.014143, -0.000498, -0.008918, 0.001997, 0.006306, 0.008962, 0.020629, 0.032282, 0.029346, 0.023987, 0.019134, -0.002504
#*# 	0.038303, 0.017183, 0.015348, 0.016974, 0.001611, -0.004075, 0.006322, 0.010929, 0.010980, 0.024473, 0.034264, 0.032289, 0.025935, 0.023384, 0.001947
#*# 	0.037680, 0.015990, 0.013153, 0.014555, -0.000220, -0.000219, 0.013466, 0.012718, 0.014167, 0.026016, 0.033965, 0.029542, 0.022945, 0.021688, -0.000356
#*# 	0.035349, 0.012296, 0.007139, 0.007060, -0.006363, -0.004611, 0.010761, 0.012936, 0.013879, 0.024689, 0.032840, 0.022360, 0.017394, 0.015573, -0.003066
#*# 	0.042582, 0.012742, 0.005758, 0.006791, -0.006033, -0.007861, 0.009411, 0.012452, 0.015968, 0.025609, 0.031751, 0.028989, 0.018166, 0.013906, -0.005282
#*# 	0.045983, 0.014506, 0.007129, 0.007938, 0.000058, 0.001979, 0.014213, 0.016236, 0.021345, 0.033619, 0.039599, 0.036088, 0.024645, 0.022044, 0.005658
#*# 	0.048869, 0.023066, 0.015134, 0.013771, 0.011869, 0.011510, 0.020437, 0.023195, 0.031546, 0.047482, 0.052041, 0.045034, 0.034465, 0.034412, 0.020746
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
