# =========================================================
# Chamber Heater — AC PTC element
# Virtual averaged sensor blends chamber_top + chamber_bottom
# =========================================================

[heater_generic chamber_heater]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top, temperature_sensor chamber_bottom
combination_method: mean
maximum_deviation: 999.9
min_temp: 0
max_temp: 130
max_power: 1
gcode_id: C
heater_pin: PB0
control: pid
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071

[verify_heater chamber_heater]
max_error: 1200
check_gain_time: 1200
hysteresis: 20
heating_gain: 1

[temperature_sensor chamber_heater_fin]
sensor_type: ATC Semitec 104GT-2
pullup_resistor: 4700
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 160
gcode_id: chamber_fin
