# =========================================================
# Fans
# =========================================================

# Part cooling fan
[fan]
pin: PD14

# Hotend cooling fan — auto on above 50°C
[heater_fan hotend_fan]
pin: PD13
heater: extruder
heater_temp: 50.0

# Electronics bay controller fan
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y
fan_speed: 1.0

# Driver cooling fan
[controller_fan driver_fan]
pin: PD15
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0

# Nevermore carbon filter
[fan_generic nevermore]
pin: EBBCan:PA0
cycle_time: 0.010

# Chamber heater circulation fan — auto on above 50°C
[heater_fan chamber_heater_fan]
pin: PE5
kick_start_time: 0.8
max_power: 1
shutdown_speed: 1
heater: chamber_heater
heater_temp: 50.0
