# =========================================================
# Temperature Sensors
# =========================================================

[temperature_sensor upper_bed]
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: -200
max_temp: 140

[temperature_sensor chamber_top]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF4
pullup_resistor: 4700
min_temp: 0
max_temp: 300

[temperature_sensor chamber_bottom]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
pullup_resistor: 4700
min_temp: 0
max_temp: 300

[temperature_sensor Chamber_Average]
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_top, temperature_sensor chamber_bottom
combination_method: mean
maximum_deviation: 999.9
gcode_id: chamber_th

[thermistor Dyze500]
temperature1: 25
resistance1: 4500000
temperature2: 260
resistance2: 2240
temperature3: 460
resistance3: 125.4
